.row
  - if cs[0].present?
    .col-sm-4
      = render partial: 'collection', locals: {c: cs[0]}
  - if cs[1].present?
    .col-sm-4
      = render partial: 'collection', locals: {c: cs[1]}
  - if cs[2].present?
    .col-sm-4
      = render partial: 'collection', locals: {c: cs[2]}