- content_for :title do
    Collections
- content_for :userbox do
    = render partial: "application/userbox", locals: {u: @user}
- if @user.nil?
    - if @collections.empty?
        %p.notice No public collections yet...
    - else
        - @collections.each do |c|
            = render partial: "collection", locals: {c: c}
- else
    - if @collections.empty?
        %p.notice No collections for you to show yet...
    - else
        - @collections.each do |c|
            = render partial: "collection", locals: {c: c}
