- content_for :title do
  Collections shared with you
- content_for :userbox do
  = render partial: "application/userbox", locals: {u: current_user}
= render partial: 'viewable_collections'
.row.add-collection-btn
  .col-sm-12
    %a.btn.btn-success{href: new_collection_path}
      = icon('plus')
      Add collection