%p User #{@current_user.username} has invited you to participate in link collection #{@membership.link_collection.name} with #{@membership.permission.to_s} permission.

%p= link_to 'Go to your profile', me_users_url