header
  border-bottom: solid 2px #ccc
  h1 a
    color: #333
    &:hover
      text-decoration: none
footer
  border-top: solid 2px #ccc
.userbox
  border: dotted 1px #555
  margin-top: 5px
  margin-bottom: 5px
  padding: 5px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px